!  ~/.Xresources                            https://github.com/ryankeleti/dotfiles

#define c00                                 #a6e22e
#define c01                                 #beed5f
#define c02                                 #fd971f
#define c03                                 #ff669d
#define c04                                 #9e6ffe
#define c05                                 #00cbee
#define c06                                 #6ec6d4
#define c07                                 #87ffaf
#define c08                                 #ff8100
#define c09                                 #777777
#define c10                                 #1b1b1b
#define c11                                 #d3d3d3
#define c12                                 #ffffff
#define c13                                 #7c6f64
#define c14                                 #ffeeaa
#define red                                 #7e5c62
#define grn                                 #658861
#define blu                                 #628b87

*.background:                               c10
*.foreground:                               c11
*.cursorColor:                              blu
*.color0:                                   c10
*.color8:                                   c09
*.color1:                                   red
*.color9:                                   red
*.color2:                                   grn
*.color10:                                  grn
*.color3:                                   grn
*.color11:                                  grn
*.color4:                                   blu
*.color12:                                  blu
*.color5:                                   blu
*.color13:                                  blu
*.color6:                                   blu
*.color14:                                  blu
*.color7:                                   c09
*.color15:                                  c09

urxvt.transparent:                          1
urxvt.internalBorder:                       10
urxvt.depth:                                32
urxvt.shading:                              25
urxvt.iso14755:                             false

urxvt.keysym.S-Up:                          \033[1;2A
urxvt.keysym.S-Down:                        \033[1;2B
urxvt.keysym.S-Left:                        \033[1;5D
urxvt.keysym.S-Right:                       \033[1;5C

*font:	                                    -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
*savelines:	                                5000
*loginshell:	                              true
*eightBitInput:	                            false
*scrollBar:	                                false
*cursorBlink:	                              true
xterm*utf8:	                                1
xterm*vt100.geometry:	                      80x25
xterm*charClass:	                          33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName:	                            xterm-256color

xterm*selectToClipboard:	                  true
xterm*VT100.Translations:	                  #override \n\
  Ctrl Shift <Key>V:                        insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C:                        copy-selection(CLIPBOARD)

xft.antialias:                              1
xft.hinting:                                1
xft.hintstyle:                              hintslight
xft.lcdfilter:                              lcddefault
xft.rgba:                                   rgb
xft.dpi:                                    96

xcursor.theme:                              Human

xscreensaver.Dialog.Button.background:      #444
xscreensaver.Dialog.Button.foreground:      #ededff
xscreensaver.Dialog.background:             #202020
xscreensaver.Dialog.borderWidth:            0
xscreensaver.Dialog.bottomShadowColor:      #202024
xscreensaver.Dialog.foreground:             #ededff
xscreensaver.Dialog.internalBorderWidth:    24
xscreensaver.Dialog.shadowThickness:        2
xscreensaver.Dialog.text.background:        #444
xscreensaver.Dialog.text.foreground:        #ededff
xscreensaver.Dialog.text.font:              roboto 10
xscreensaver.Dialog.topShadowColor:         #202024
xscreensaver.dateFormat:                    %I:%M%P %a %b %d, %Y
xscreensaver.passwd.thermometer.background: #202020
xscreensaver.passwd.thermometer.foreground: #a9b7c4
xscreensaver.passwd.thermometer.width:      3

lal*font:                                   roboto
lal*fontsize:                               12

rofi.lines:                                 1
rofi.columns:                               1
rofi.eh:                                    1
rofi.bw:                                    1
rofi.location:                              0
rofi.width:                                 20
rofi.padding:                               15
rofi.opacity:                               95
rofi.fake-transparency:                     true
rofi.hide-scrollbar:                        true
rofi.disable-history:                       true
rofi.color-enabled:                         true
rofi.fullscreen:                            false
rofi.sidebar-mode:                          false
rofi.fuzzy:                                 false
rofi.separator-style:                       none
rofi.terminal:                              xterm
rofi.fake-background:                       background
rofi.font:                                  roboto 10
rofi.kb-clear-line:                         Control+b
rofi.color-normal:                          c10, c09, c10, c09, c11
rofi.color-urgent:                          c10, c09, c10, c09, c11
rofi.color-active:                          c10, c09, c10, c09, c11
rofi.color-window:                          c10, c13, c13

